.gameContainer{
    
}
.display-kanji{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 100vh;
    height: 100%;
    max-height: 100vw;
    box-sizing: border-box;
    padding: 30px 0;
}
.kanji-card{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    flex: 1 0 33.33%;
    box-sizing: border-box;
    border: 1px solid #000; 
    padding: 20px; 
    text-align: center; 
    cursor: pointer;
}

html, body, #root, .gameContainer, .display-kanji{
    height: 100%;
}

/** Progress Bar**/
.progress-container{
    display: inline-block;
    position: relative;
    height: 20px;
    width: 250px;
    border: 1px solid black;
}
.progress-bar{
    display: block;
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    background-color: black;
    transition: width 0.1s ease-in-out;
}