@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Zen+Maru+Gothic&display=swap');

/** Structure **/
body{
    background: url(../assets/background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#root{
    background-color: hsl(0deg 0% 0% / 50%);
}
html, body, #root, .gameContainer, .display-kanji, .title-container{
    height: 100%;
}

/** Card Area **/
.display-kanji{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    max-width: 100vh;
    height: 100%;
    max-height: 100vw;
    box-sizing: border-box;
    padding: 75px 0;
}
.kanji-card{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    flex: 1 0 33.33%;
    box-sizing: border-box;
    text-align: center; 
}

@keyframes bg-transition {
    0% {
      background-image: url(../assets/texture2.png);
    }
    100% {
      background-image: url(../assets/textureSelect.png);
    }
  }

.kanji-card span{
    background-image: url(../assets/texture2.png);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    cursor: pointer;
    border-radius: 20px;
    -webkit-box-shadow: 
        0px 0px 5px 5px rgba(0,0,0,0.75), 
        5px 5px 10px rgba(0, 0, 0, 0.5), 
        -5px -5px 10px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 
        0px 0px 5px 5px rgba(0,0,0,0.75), 
        5px 5px 10px rgba(0, 0, 0, 0.5), 
        -5px -5px 10px rgba(255, 255, 255, 0.3);
    box-shadow: 
        0px 0px 5px 5px rgba(0,0,0,0.75), 
        5px 5px 10px rgba(0, 0, 0, 0.5), 
        -5px -5px 10px rgba(255, 255, 255, 0.3);
    text-shadow: 
        1px 1px 2px #fff,
        -1px -1px 2px #000;
    transition: transform 0.2s, background-color 0.2s;
    font-family: "Zen Maru Gothic", serif;
    font-size: 2em;
    font-weight: 500;
    
}
.kanji-card span:active{
    transform: scale(0.95);
}
.kanji-card span:hover{
    background-image: url(../assets/textureSelect.png);
    animation: bg-transition .5s alternate;
}
.kanji-card span::selection{
    background: transparent;
}



/** Progress Bar**/
.progress-container{
    display: inline-block;
    position: relative;
    height: 20px;
    width: 100%;
    margin: 0 10px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 7px;
}
.progress-bar{
    display: block;
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    transition: width 0.1s ease-in-out;
    border-radius: 7px;
}

/** UI **/
.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-block{
    background-color: rgb(255 255 255 / 85%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Quicksand", serif;
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 10px 5px 20px 5px;
}
.title-block h1{
    font-family: "Quicksand", serif;
    font-size: 2.5em;
    line-height: 1.25em;
    font-weight: bold;
    background: -webkit-linear-gradient(#113a43, #031f30);
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align:center;
}
.title-block select,
.title-block option{
    font-family: "Quicksand", serif;
    font-size: .9em;
    line-height: .9em;
    border-radius: 10px;
    padding: 0 5px;
}
.prev-game-info{
    text-align: center;
}
.prev-game-kanji{
    margin: 5px 0;
}
.prev-game-kanji span::after{
    content: ", ";
}
.prev-game-kanji span:last-child{
    color: red;
}
.prev-game-kanji span:last-child::after{
    content: "";
}
.gui-container{
    position: relative;
    z-index: 10;
    background: #ecffff;
}
.gui-container::after{
    display: block;
    position:absolute;
    top: 100%;
    content: '';
    height: 10px;
    width: 100%;
    background: linear-gradient(to bottom, rgb(154 246 255) 0%, rgba(255, 255, 255, 0) 100%);
}
.upper-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px 10px 10px;
    font-family: "Quicksand", serif;
}
.score-container{
    font-size: 1.5em;
    background: -webkit-linear-gradient(#113a43, #031f30);
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.progress-container{
    margin-top: 10px;
}
.quit-container{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    background: #ecffff;
}
.quit-container::before{
    display: block;
    position: absolute;
    top: -10px;
    content: '';
    height: 10px;
    width: 100%;
    background: linear-gradient(to top, rgb(154 246 255) 0%, rgba(255, 255, 255, 0) 100%);
}
.start-button,
.quit-button{
    cursor: pointer;
    margin: 10px 0;
    background: none;
    border: none;
    font-family: "Quicksand", serif;
    font-size: 1.25em;
    text-transform: uppercase;
    background: linear-gradient(to right, #113a43 0%, #031f30 100%);
    padding: 5px 50px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
}
/** Responsive fixes **/
@media (max-width: 600px){
    .display-kanji{
        padding: 0;
    }
}
@media (max-width: 400px){
    .kanji-card span{
        font-size: 1.2em;
    }
}